on:
  push:
    branches:
      - "master"

permissions:
  id-token: write  # Required for OIDC
  contents: read

name: Master
jobs:
  test:
    name: Test & Deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: "22.22.0"
          cache: yarn
          scope: "@lingo-app"
          registry-url: "https://registry.npmjs.org/"
      - name: Install
        run: yarn
      - name: Validate
        run: yarn validate
      - name: Test
        run: yarn test
      - name: Build
        run: yarn build
      - name: Deploy NPM
        run: npm publish --access public